---
import { projectsList } from "../data/projects";
import { pageList } from "../data/pages";
import ProjectCard from "./ProjectCard.astro";
---

<div class="p-8 sm:p-10 border-b border-dark-green" id="projects">
  <div class="mono mb-6">PROJECTS</div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-7">
    {projectsList.map((project) => 
      <ProjectCard
        title={project.title} 
        description={project.description} 
        category={project.category} 
        imageUrl={project.imageUrl}
        url={project.url}
        year={project.year}
      />)}
  </div>
</div>
<div class="p-8 sm:p-10 border-b border-dark-green" id="art">
  <div class="mono mb-6">ART</div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-7">
    {pageList.map((project) => {
      if (project.isArt) { return (
        <ProjectCard
        title={project.title} 
        imageUrl={project.imageUrl}
        url={project.url}
      />)}
      }
    )}
  </div>
</div>
<div class="p-8 sm:p-10" id="misc">
  <div class="mono mb-6">MISC.</div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-7">
    {pageList.map((project) => {
      if (!project.isArt) { return (
        <ProjectCard
        title={project.title} 
        imageUrl={project.imageUrl}
        url={project.url}
      />)}
      }
    )}
  </div>
</div>