---
import { projectsList } from "../data/projects";
import { pageList } from "../data/pages";
---

<aside class="m-auto flex-col space-y-8 p-5 h-dvh border-r border-dark-green overflow-auto hidden sm:flex sm:w-1/4">
<!-- <aside class="m-auto flex-col space-y-8 p-5 h-dvh overflow-auto hidden sm:flex sm:w-1/4"> -->

  <a href="/" class="transition hover:text-hover-color hover:transition-all">Annie Qiu ✧ 邱烨</a>
  <div class="flex flex-col space-y-8">
    <div class="flex flex-col space-y-2">
      <a class="mono index-section-title transition hover:text-hover-color hover:transition-all" href="/#projects">PROJECTS→</a>
      <div class="flex flex-col space-y-2">
        {projectsList.map((proj) => {
          return (
            <div class="flex flex-col -space-y-0.5">
              <span class="mono label">{proj.category}</span>
              <a href={proj.url} class="transition hover:text-hover-color hover:transition-all text-[0.85rem]">{proj.title}</a>
            </div> 
          )
        })}
    </div>
    </div>
    <div class="flex flex-col space-y-2">
      <a class="mono index-section-title transition hover:text-hover-color hover:transition-all" href="/#art">ART→</a>
      <div class="flex flex-col space-y-1">
        {pageList.map((page) => {
          if (page.isArt) {
            return (
              <a href={page.url} class="transition hover:text-hover-color hover:transition-all text-[0.85rem]">{page.title}</a>
            )
          }
        })}
      </div>
    </div>
    <div class="flex flex-col space-y-2">
      <a class="mono index-section-title transition hover:text-hover-color hover:transition-all" href="/#misc">MISC.→</a>
      <div class="flex flex-col space-y-1">
        {pageList.map((page) => {
          if (!page.isArt) {
            return (
              <a href={page.url} class="transition hover:text-hover-color hover:transition-all text-[0.85rem]">{page.title}</a>
            )
          }
        })}
      </div>
    </div>
  </div>
  <a class="mono transition hover:text-hover-color hover:transition-all" href="/about">ABOUT→</a>
</aside>